#divForm {
    height: 39vh;
    width: 20vw;
    border: 1px solid lightgrey;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

#divForm>h2 {
    text-align: center;
}

#divForm div input[type=submit] {
    width: 7vw;
}

#divForm div {
    margin-left: auto;
    margin-right: auto;
}

#pResult {
    text-align: center;
}